.button{
    background-color: var(--cor-roxa);
    display: flex;
    width: 100%;
    height: 38px;
    padding: 12px;
    border-radius: 15px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover{
    background-color: rgb(106, 66, 122);
}
