:root {
    --cor-roxa: #8e37a3;
    --cor-fundo: #444;
}

.container {
    max-width: 400px;
    margin: 30px auto;
    overflow: auto;
    min-height: 480px;
    border: 2px solid var(--cor-roxa);
    padding: 30px;
    border-radius: 10px;
}